body {
    margin:0;
    background-color: white;
    width: 1200px ;
}

html {
    width:100%;
    margin:0;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

h2 {
    margin-top: 0px;
    padding-top: 20px;
}

h3 {
    margin-top: 20px;
    padding-top: 20px;
}


textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding-top: 20px;
    padding-left: 50px;
}

.divbar {
    padding-top: 30px;
    margin: 0 0;
}

.divbar div{
    padding-bottom: 10px; 
}
.divbar div a {
    color: #f0f0f0;
}

.divbar div a:hover {
    background-color: rgb(87, 158, 240, 0.6);
    color: black;
    border-radius: 4px;
  }
  

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;

}
