{% extends "encyclopedia/layout.html" %}
{% load markdownify %}

{% block title %}
     Edit page
{% endblock %}

{% block body %}
<form action="" method="POST">
    {% csrf_token %}
    <h3> Edit {{title}} page</h3>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Edit Title</span>
        </div>
        <input type="text"  class="form-control" name="title" value={{title}} aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>  
      
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Edit The content for the page</label>
        <textarea class="form-control"  name="content" id="exampleFormControlTextarea1" rows="11">{{content}}</textarea>
      </div>

       <input type="submit" value="Save" class="btn btn-secondary">
       <button onclick="location.href ='{% url 'title' title %}'" type="button" class="btn btn-secondary"> Cancel </button>

</form>

{% endblock %}